* {
  margin: 0;
  padding: 0;
  transition: .2s linear;
}

body {
  position: relative;
  display: flex;
  background-color: black;
  overflow: hidden;
  align-items: center;
}

.maincontainer {
  position: absolute;
  top: 50px;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: red;
}

/* header css */
.headerbar {
  position: absolute;
  display: flex;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.headerbar div {
  cursor: pointer;
  z-index: 1000;
}

.headerbar .menu {
  height: inherit;
  width: 50px;
  background-image: url("img/menu.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.headerbar .logo {
  width: 150px;
  height: inherit;
  background-image: url("img/centennialtoyotabanner.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.headerbar .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.headerbar .login {
  display: flex;
  max-width: 33%;
  height: inherit;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  padding-right: 10px;
}

/* menus */
.dropmenu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: black;
  top: 50px;
  z-index: 2;
}

.dropmenu a {
  display: block;
  width: 100px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1em;
}

.usermenu {
  display: none;
  right: 0;
}

.actionmenu {
  left: 0;
  display: none;
}

.loginmenu {
  display: none;
  position: absolute;
  background-color: #444;
  font-size: 30px;
  z-index: 2;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 7px 5px 5px #222;
}

.loginmenu .loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.loginmenu .loginform input {
  background-color: black;
  font-size: 20px;
  text-align: center;
  margin: 1em;
  color: white;
}

.loginmenu .loginform button {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: .25em;
}

/* search */
.searchform {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  font-size: 45px;
  font-weight: bold;
  font-family: sans-serif;
}

.searchform input {
  margin-top: 100px;
  margin-bottom: 150px;
  width: 80%;
  background-color: black;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding: 1em;
  color: white;
}

.searchbuttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.searchbuttons button {
  padding: 1em;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
/* vehicle info page */
.vehicleinfo {
  position: fixed;
  /* display: none; */
  top: 10%;
  left:50%;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  background-color: #666;
  align-items: center;
  text-align: center;
  transform: translateX(-50%);
  width: 400px;
  overflow: hidden;
  border-radius: 25px;
  z-index: 1000;
}
.vehicleinfo input {
  font-size: 18px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.vehinfotable input{
  width: 75px;
}
.vehicleinfo .vehnumbers{
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.vehicleinfo .vehnumbers .stocknumber input {
  width: 85px;
}
.vehicleinfo .vehstatus {
  margin-top: 20px;
  width: 400px;
}
.vehicleinfo .vehstatus select{
  width: 90%;
  height: 35px;
  color: white;
  font-size: 20px;
  background-color: black;
  border-radius: 20px;
}
.vehicleinfo .comments {
  width: 400px;
}
.vehicleinfo .comments textarea {
  width: 90%;
  font-size: 20px;
  resize: none;
  background-color: black;
  color: white;
}
.vehicleinfo .buttons  {
  width: 100%;
  margin-top: 25px;
margin-bottom: 50px;
display: flex;
justify-content: space-around;
}
.vehicleinfo .buttons button{
  text-align: center;
  font-size: 25px;
  height: 75px;
  background-color: black;
  color: white;
  width: 125px;
  border-radius: 15px;
}
.vehicleinfo .est{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  color: white;
}
.vehicleinfo .est input {
  width: 25%;
}
